


<form class="form" action="clientes-action.php?act=add" method="post">

    <div>
        <label>Nombre</label>
        <input name="nombre" type="text">
    </div>

    <div>
        <label>Apellido</label>
        <input name="apellido" type="text">
    </div>
    <div>
        <button type="submit">Aceptar</button>
    </div>


</form>


<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>


<script>

    var url ="clientes-action.php?act=add";
    {{#edit}}

 var id="{{#clientes}}{{#_id}}{{$id}}{{/_id}}{{/clientes}}";
    var url="clientes-action.php?act=edit&id="+id;
    $.ajax(
            {

                url:"clientes-action.php?id="+id+"&act=list",
                method:"get",
            dataType:"json",
                success:function(data)
                {
                   if(!data.error)
                   {
                       $.each(data[0],function(key,value){


                           $(".form [name="+key+"]").val(value);

                       });
                   }
                },
                error: function (data) {

                    console.log(data);
                }
            }


    );


    {{/edit}}

    $(document).on("submit",".form",function(e){


      var data=  $(this).serialize();


        $.ajax(
                {

                    url:url,
                    method:"post",
                    dataType:"json",
                    data:data,
                    success:function(data)
                    {
                      console.log(data);
                    },
                    error: function (data) {

                        console.log(data);
                    }
                }


        );




        e.preventDefault();



    });
</script>

